{{- if and .Site.Params.related.enable .Content }}
  {{- $related := .Site.RegularPages.Related . | first .Site.Params.related.count }}
  {{- if gt (len $related) 0 }}
    <div class="related-posts">
      {{- with .Site.Params.related.header }}
        {{- if .enable }}
          <h3>{{ default "相关文章" .title }}</h3>
        {{- end }}
      {{- end }}
      <ul>
        {{- range $related }}
          <li>
            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
          </li>
        {{- end }}
      </ul>
    </div>
  {{- end }}
{{- end }}