{{- define "title" -}}
    {{- .Params.Title | default (T .Data.Plural) | default .Data.Plural | dict "Some" | T "allSome" }} - {{ .Site.Title -}}
{{- end -}}

{{- define "content" -}}
    {{- $taxonomies := .Data.Plural -}}
    {{- $terms := .Data.Terms.ByCount -}}
    {{- $type := .Type -}}

    <div class="page archive">
        {{- /* Title */ -}}
        <h2 class="single-title animate__animated animate__pulse animate__faster">
            {{- .Params.Title | default (T $taxonomies) | default $taxonomies | dict "Some" | T "allSome" -}}
        </h2>

        {{- /* Authors Page */ -}}
        {{- if eq $taxonomies "authors" -}}
            <div class="authors-card">
                {{- range $terms -}}
                    {{- $term := .Term -}}
                    {{- $pages := where .Pages "Params.hidden" "!=" true -}}
                    {{- $pages = where $pages "Params.hiddenfromtaxonomy" "!=" true -}}
                    {{- with $.Site.GetPage "taxonomy" (printf "%v/%v" $type $term) -}}
                    <div class="card-item">
                        <div class="card-item-wrapper">
                            <h3 class="card-item-title">
                                <a href="{{ .RelPermalink }}">
                                    <i class="far fa-user fa-fw" aria-hidden="true"></i>&nbsp;{{ .Page.Title | default $term }}
                                </a>
                            </h3>
                            {{- range first 5 $pages -}}
                                <article class="archive-item">
                                    <a href="{{ .RelPermalink }}" class="archive-item-link">
                                        {{- .Title | emojify -}}
                                    </a>
                                </article>
                            {{- end -}}
                            {{- if gt (len $pages) 5 -}}
                                <span class="more-post">
                                    <a href="{{ .RelPermalink }}" class="more-single-link">{{ T "more" }} >></a>
                                </span>
                            {{- end -}}
                        </div>
                    </div>
                    {{- else -}}
                      {{- /* 如果没有作者档案页，仍然显示该作者卡片 */ -}}
                      <div class="card-item">
                          <div class="card-item-wrapper">
                              <h3 class="card-item-title">
                                  <a href="/{{ $type }}/{{ $term | urlize }}/" >
                                      <i class="far fa-user fa-fw" aria-hidden="true"></i>&nbsp;{{ $term }}
                                  </a>
                              </h3>
                              {{- range first 5 $pages -}}
                                  <article class="archive-item">
                                      <a href="{{ .RelPermalink }}" class="archive-item-link">
                                          {{- .Title | emojify -}}
                                      </a>
                                  </article>
                              {{- end -}}
                              {{- if gt (len $pages) 5 -}}
                                  <span class="more-post">
                                      <a href="/{{ $type }}/{{ $term | urlize }}/" class="more-single-link">{{ T "more" }} >></a>
                                  </span>
                              {{- end -}}
                          </div>
                      </div>
                    {{- end -}}
                {{- end -}}
            </div>

        {{- /* Categories Page */ -}}
        {{- else if eq $taxonomies "categories" -}}
            <div class="categories-card">
                {{- range $terms -}}
                    {{- $term := .Term -}}
                    {{- $pages := where .Pages "Params.hidden" "!=" true -}} 
                    {{- with $.Site.GetPage "taxonomy" (printf "%v/%v" $type $term) -}}
                    <div class="card-item">
                        <div class="card-item-wrapper">
                            <h3 class="card-item-title">
                                <a href="{{ .RelPermalink }}">
                                    <i class="far fa-folder fa-fw" aria-hidden="true"></i>&nbsp;{{ .Page.Title }}
                                </a>
                            </h3>
                            {{- range first 5 $pages -}} 
                                <article class="archive-item">
                                    <a href="{{ .RelPermalink }}" class="archive-item-link">
                                        {{- .Title | emojify -}}
                                    </a>
                                </article>
                            {{- end -}}
                            {{- if gt (len $pages) 5 -}}
                                <span class="more-post">
                                    <a href="{{ .RelPermalink }}" class="more-single-link">{{ T "more" }} >></a>
                                </span>
                            {{- end -}}
                        </div>
                    </div>
                    {{- end -}}
                {{- end -}}
            </div>

        {{- /* Tag Cloud Page */ -}}
        {{- else if eq $taxonomies "tags" -}}
            <div class="tag-cloud-tags">
                {{- range $.Site.Taxonomies.tags.ByCount -}}
                    {{- $visiblePages := where .Pages "Params.hidden" "!=" true -}}
                    {{- if gt (len $visiblePages) 0 -}}
                        <a href="{{ .Page.RelPermalink }}">{{ .Page.Title }} <sup>{{ len $visiblePages }}</sup></a>
                    {{- end -}}
                {{- end -}}
            </div>
        {{- end -}}
    </div>
{{- end -}}